extends layout

block content
	h2.created-at Sequence created: #{sequence.created_at}

	a.mode-switch(href="/i/#{sequence.tweetsStr}") Switch to inline view. 
		i.icon-arrow-right


	div.tweets-block
		each tweet, i in sequence.tweets
			div.tweet-wrap
				blockquote
					#{tweet.text.trim()}
				p &mdash; #{tweet.user.name} (@#{tweet.user.screen_name}), 
					a(href="https://twitter.com/#!/#{tweet.user.screen_name}/status/#{tweet.id_str}") #{tweet.created_at}